version: "3.9"

services:
  app:
    build: .
    container_name: tablero_app
    working_dir: /var/www
    volumes:
      - ./:/var/www
      - ./vendor:/var/www/vendor   # opcional: cache de vendor
    networks:
      - laravel
    environment:
      - APP_ENV=local
      - APP_DEBUG=true

  nginx:
    image: nginx:alpine
    container_name: tablero_nginx
    depends_on:
      - app
    ports:
      - "8000:80"
    volumes:
      - ./:/var/www
      - ./nginx.conf:/etc/nginx/conf.d/default.conf
    networks:
      - laravel

  mysql:
    image: mysql:8
    container_name: tablero_mysql
    environment:
      MYSQL_DATABASE: tablero_kanban
      MYSQL_ROOT_PASSWORD: root
      MYSQL_USER: laravel
      MYSQL_PASSWORD: secret
    ports:
      - "3306:3306"
    volumes:
      - dbdata:/var/lib/mysql
    networks:
      - laravel

networks:
  laravel:

volumes:
  dbdata:
